<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description"
		content="Statistics, information, images, timelapses and more about Geoxor Place (aka g/place)!">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<link rel="canonical" href="https://geoxorplace.vapronva.pw/">
	<meta name="robots" content="noindex, follow">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="Geoxor Place — Timelapse & API">
	<meta name="twitter:description"
		content="Statistics, information, images, timelapses and more about Geoxor Place (aka g/place)!">
	<meta name="twitter:image" content="https://cdn.wesa.vapronva.pw/favicons/geoxorplacevapronvapw/favicon@4x.png">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="Geoxor Place">
	<meta property="og:title" content="Geoxor Place — Timelapse & API">
	<meta property="og:description"
		content="Statistics, information, images, timelapses and more about Geoxor Place (aka g/place)!">
	<meta property="og:url" content="https://geoxorplace.vapronva.pw/">
	<link rel="shortcut icon" type="image/jpg"
		href="https://cdn.wesa.vapronva.pw/favicons/geoxorplacevapronvapw/favicon@1x.jpg">
	<link rel="stylesheet" type="text/css"
		href="https://cdn.wesa.vapronva.pw/libraries/bootstrap/5.1.3/bootstrap.min.css">
	<link rel="stylesheet" type="text/css"
		href="https://cdn.wesa.vapronva.pw/relanoic/geoxorplacevapronvapw/1.0/styles/style.min.css">
	<title>Geoxor Place — Timelapse & API</title>
	<script async src="https://ackee.vapronva.pw/tracker.js" data-ackee-server="https://ackee.vapronva.pw"
		data-ackee-domain-id="d7691051-90b7-4004-b9a7-d2e0b483e67a" data-ackee-opts='{"detailed": true}'></script>
</head>

<body>
	<div class="page-container">
		<div class="mainfs filling-screen dark-huch b-parallax" id="intro">
			<div class="parallax bg-mockup-walking-with-iphone-x-mockup-gplace">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-6 align-self-center col-md-7 offset-lg-6 offset-md-5">
						<h1 class="text-center text-md-start text-cool-shadow margin-zero h1-intro-titile-style">
							<strong>Geoxor Place</strong> — <strike>Fan Page</strike> Stats, TLs
						</h1>
						<p class="float-none text-center text-md-start text-cool-shadow par-intro-subtitle-style">
							insert your pixel here
						</p>
						<h4
							class="float-none text-center text-md-start text-cool-shadow margin-zero h4-intro-subtitle-style">
							A set of tools, images and APIs to get the most data out of <a
								href="https://place.geoxor.moe/" rel="nofollow noopener noreferrer"
								target="_blank">g/place</a>.
						</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="mainfs b-parallax filling-screen background-texture texture-darken dark-huch " id="tl">
			<div class="parallax bg-mockup-clean-desk-with-dell-display-mockup-gplace">
			</div>
			<div class="container">
				<div class="row">
					<div class="col">
						<h2 class="margin-medium text-lg-center h2-section-title-style text-cool-shadow text-md-center">
							Timelapse &amp; Canvas Images<br>
						</h2>
						<div class="row">
							<div class="col">
								<h3
									class="text-lg-center h3-subsection-title-style text-cool-shadow margin-zero text-md-center">
									Latest TL — 1m Interval
								</h3>
								<p
									class="text-lg-center par-subsection-description-style text-cool-shadow text-md-center">
									generated on {{ tl_time_1 }}
								</p>
								<div class="ratio get-ratiod-to-square-lmaooo box-shadow-ayoo">
									<video controls class="embed-responsive-item lazyload" muted="muted"
										data-src="{{ tl_url_1 }}">
										<source src="https://cdn.wesa.vapronva.pw/images/lazyload.png"
											data-src="{{ tl_url_1 }}" type="video/mp4" />Your browser does not support
										HTML5 video :BRUHBRUH:
									</video>
								</div>
								<div class="text-center">
									<a class="btn button-style-ayo button-margin-tci btn-sm" target="_blank"
										href="https://api.geoxorplace.vapronva.pw/v1/timelapses/all">List of
										1-minute-apart Timelapses</a>
								</div>
							</div>
							<div class="col">
								<h3
									class="text-lg-center h3-subsection-title-style text-cool-shadow margin-zero text-md-center">
									Latest TL — 15s Interval
								</h3>
								<p
									class="text-lg-center par-subsection-description-style text-cool-shadow text-md-center">
									generated on {{ tl_time_2 }}
								</p>
								<div class="ratio get-ratiod-to-square-lmaooo box-shadow-ayoo">
									<video controls class="embed-responsive-item lazyload" muted="muted"
										data-src="{{ tl_url_2 }}">
										<source src="https://cdn.wesa.vapronva.pw/images/lazyload.png"
											data-src="{{ tl_url_2 }}" type="video/mp4" />Your browser does not support
										HTML5 video :BRUHBRUH:
									</video>
								</div>
								<div class="text-center">
									<a class="btn button-style-ayo button-margin-tci btn-sm" target="_blank"
										href="https://api.geoxorplace.vapronva.pw/v1/timelapses/all">List of
										15-seconds-apart Timelapses</a>
								</div>
							</div>
							<div class="col">
								<h3
									class="text-lg-center h3-subsection-title-style text-cool-shadow margin-zero text-md-center">
									Current Canvas
								</h3>
								<p
									class="text-lg-center par-subsection-description-style text-cool-shadow text-md-center">
									as of {{ currentTime }}
								</p><img src="https://cdn.wesa.vapronva.pw/images/lazyload.png"
									data-src="https://place.geoxor.moe/api/board-image"
									class="img-fluid mx-auto dark-huchk box-shadow-ayoo lazyload" />
								<div class="text-center">
									<a class="btn button-style-ayo button-margin-tci btn-sm" target="_blank"
										href="https://fs.geoxorplace.vapronva.pw/#canvas-images/">Previous Canvas
										Images</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mainfs b-parallax filling-screen background-texture texture-darken dark-huch" id="stats">
			<div class="parallax bg-mockup-holding-samsung-s20-mockup-in-front-of-a-bike-gplace">
			</div>
			<div class="container">
				<div class="row">
					<div class="col">
						<h2 class="margin-medium text-lg-center h2-section-title-style text-cool-shadow text-md-center">
							API &amp; Statistics<br>
						</h2>
						<div class="row">
							<div class="col">
								<h3 class="text-lg-center h3-subsection-title-style text-cool-shadow text-md-center">
									Public API
								</h3>
								<div class="text-center">
									<a href="https://api.geoxorplace.vapronva.pw/v1/docs"
										class="btn button-style-ayo btn-lg" target="_blank">Documentation</a>
								</div>
							</div>
							<div class="col">
								<h3 class="text-lg-center h3-subsection-title-style text-cool-shadow text-md-center">
									Statistics Paper
								</h3>
								<p class="text-lg-center text-md-center margin-zero">
									“<strike>Cum</strike>Coming Soon™”
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.wesa.vapronva.pw/libraries/lazysizes.js/5.3.0/lazysizes.min.js" defer></script>
	<script src="https://cdn.wesa.vapronva.pw/libraries/universal-parallax/1.0/universal-parallax.min.js"></script>
</body>

</html>